body {
	font-family: Arial, sans-serif;
	background-color: #121212;
	color: #e0e0e0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.container {
	width: 80%;
  overflow: hidden;
	padding: 20px;
	background: #333333;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto auto;
}

.error-image {
	width: 250px;
	border-radius: 25px;
	height: auto;
	margin-bottom: 20px;
}

.error-title {
	font-size: 48px;
	color: #e0e0e0;
	animation: bounce 1s infinite;
}

.error-message {
	font-size: 18px;
	color: #e0e0e0;
	margin: 20px 0;
}

.home-link {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #444;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.home-link:hover {
	background-color: #555;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
